.carousel,
#settHolder div.setHed:not([id]),
#homeStoreAd,
#newUserGuide,
#phonePop,
#streamContainer,
#editorBtnM[src$="client.png"],
#aHider,
#endAContainer,
#endAHolder,
#topRightAdHolder {
  display: none !important;
}

.death-ui-bottom,
#uiBase.onDeathScrn #chatHolder {
  backdrop-filter: none;
  animation: none;
}

.statIcon {
  margin-bottom: 0px;
}

#phonePop {
  top: 0 !important;
  bottom: 0 !important;
}

#pointNumber {
  color: white;
}

div #setHed_local,
.glorpSettings .setHed:first-of-type {
  margin-top: 10px;
}

.setBodH {
  margin-top: 5px;
}
