@keyframes chat-moveup {
	0% {
		transform: translateY(375px);
	}
	100% {
		transform: translateY(0px);
	}
}
@keyframes death-ui-moveup {
	0% {
		transform: translateY(340px);
	}
	100% {
		transform: translateY(0px);
	}
}

div #setHed_local,
.glorpSettings .setHed:first-of-type {
	margin-top: 10px;
}

.setBodH {
	margin-top: 5px;
}

.carousel,
.onSpect #hpEnemyCounter,
#settHolder div.setHed:not([id]),
#newUserGuide,
#phonePop,
#signupRewardsButton,
#streamContainer,
#aHider,
.webpush-container,
.endAHolder {
	display: none !important;
}

.death-ui-bottom {
	backdrop-filter: none;
	animation: none;
}

#menuAccountUsername {
	border: 0;
}

.ranked-matchmaking-status {
	box-shadow: none !important;
}

#homeStoreAdC,
#menuAccountUsername,
#uiBase.onDeathScrn #chatHolder,
.ranked-matchmaking-status {
	animation: none !important;
}

#phonePop {
	top: 0;
	bottom: 0;
}
.chatItem {
	max-width: 387px;
}

.moreKrunkerPopup {
	width: 600px;
}

.moreKrunkerClient {
	display: none !important;
}

#mLevelCont {
	background-color: transparent;
}

.bpBtn.skip.disabled {
	background: #333;
	border-color: #444;
	color: #888;
	cursor: not-allowed;
	opacity: 1 !important;
}
