#chatList > * {
	display: block !important;
}

#chatHolder #chatInputHolder {
	opacity: 1;
	transform: translateY(0);
	transition: all 0.2s ease-in-out;
	pointer-events: all;
}

#chatHolder {
	transition: background-color 0.2s ease-in-out;
}

#chatList::-webkit-scrollbar {
	display: none;
}

#chatHolder #chatList {
	background: transparent;
	transform: translateY(0);
	transition: all 0.2s ease-in-out;
}

#uiBase.onGame #chatHolder {
	background: transparent;
}
#uiBase.onGame #chatHolder #chatList {
	transform: translateY(50px);
}

#uiBase.onGame #chatHolder #chatInputHolder {
	opacity: 0;
	transform: translateY(50px);
	transition: all 0.2s ease-in-out;
	pointer-events: none;
}

#uiBase.onGame #chatHolder:focus-within #chatInputHolder {
	opacity: 1;
	transform: translateY(0);
	pointer-events: all;
}

#uiBase.onGame #chatHolder:focus-within #chatList {
	background-color: rgba(0, 0, 0, 0.4);
	transform: translateY(0);
}
