*::-webkit-scrollbar,
.settingsBtn[style*="width:auto;background-color:#994cd1"],
.setSugBox2,
.advancedSwitch,
.menuSocialB,
.serverHostOpH,
.signup-rewards-container,
#tlInfHold,
#gameNameHolder,
#termsInfo,
#bubbleContainer,
#instructions:only-child,
#mapInfoHld,
#krDiscountAd,
#classPreviewCanvas,
#menuClassSubtext,
#settingsPreset,
#menuClassName,
#menuBtnQuickMatch,
#menuClassIcn,
#streamContainerNew,
#editorBtnM {
	display: none !important;
}

.verticalSeparator,
.verticalSeparatorInline {
	visibility: hidden !important;
}

#mLevelCont {
	background-color: transparent !important;
}

#uiBase.onMenu #spectButton {
	top: 94% !important;
}

.headerBarRight {
	right: -23px !important;
}

.headerBarLeft,
.headerBarRight,
#menuItemContainer {
	background-color: transparent !important;
}
