<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Package
    Id="glorpPackage"
    Name="glorp"
    Manufacturer="slav"
    Version="0.5.2"
   Scope="perUser"
    UpgradeCode="80b28117-cea0-4ef1-8d6f-5884f5ae7270">
        <util:CloseApplication
          Target="glorp.exe"
          CloseMessage="yes"
          RebootPrompt="no"/>
    <Icon Id="AppIconIco" SourceFile="resources/glorp.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AppIconIco" />

    <MediaTemplate EmbedCab="yes" />
    <MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallValidate"/>

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="glorp"/>
    </StandardDirectory>

    <Feature Id="ProductFeature" Title="glorp" Level="1">
      <ComponentGroupRef Id="GlorpComponents" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="GlorpComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutableComponent" Guid="305c2cca-2e2d-4d5a-ac43-84a3be86d148">
        <File Id="glorp.exe" Name="glorp.exe" Source="target\x86_64-pc-windows-msvc\release\glorp.exe" KeyPath="yes"/>
        <File Id="render.dll" Name="render.dll" Source="target\x86_64-pc-windows-msvc\release\render.dll"/>
        <File Id="webview.dll" Name="webview.dll" Source="target\x86_64-pc-windows-msvc\release\webview.dll"/>


        <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="glorp" Target="[INSTALLFOLDER]glorp.exe" WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="ProgramMenuShortcut" Directory="ProgramMenuFolder" Name="glorp" Target="[INSTALLFOLDER]glorp.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFile Id="CleanInstallDirFiles" Name="*.*" On="uninstall" Directory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\glorp" Name="installed" Type="integer" Value="1" />
      </Component>
    </ComponentGroup>
        <CustomAction Id="ExecuteGlorp"                  
                Impersonate="yes"
                Return="asyncNoWait"
                FileRef="glorp.exe"
                ExeCommand="" />    
    <InstallExecuteSequence >
      <Custom Action="ExecuteGlorp" After="InstallFinalize" />
    </InstallExecuteSequence>
  </Fragment>

</Wix>